{# new twig template file - hibbittsdesign.org #}
{% embed 'partials/base.html.twig' %}

  {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12 blog-main">
          {% if not page.header.hidepagetitle %}
          <h3>{{page.title}}</h3>
          {% endif %}
          {{ page.content }}
          {# Git repository edit link -  hibbittsdesign.org #}
          {% if config.site.gitrepo.editlinklocation == 'page' and (not page.header.hidegitrepoeditlink) %}
            <hr>
            <br>
            {% include 'partials/gitrepo_page_link.html.twig' %}
            <br>
          {% endif %}
        </div>
        {# removed sidebar rendering - hibbittsdesign.org #}
      </div>
    </div>
  {% endblock %}

{% endembed %}
