{# new twig template file - hibbittsdesign.org #}
<div class="list-item">
  <div class="list-blog-header">
    <div class="list-blog-padding">
      <div class="alert alert-info">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
