{# new twig template file - hibbittsdesign.org #}
{% embed 'partials/base.html.twig' %}

  {% block content %}
    <div class="container">
      <div class="row">
        {# check content display flag - hibbittsdesign.org #}
        {% if not grav.uri.param('onlydisplaypagecontent') %}
          <div class="col-sm-8 blog-main">
{% else %}
<div class="col-sm-12 blog-main">
{% endif %}
            {% if not page.header.hidepagetitle %}
            <h3>{{page.title}}</h3>
            {% endif %}
            {{ page.content }}
            {# Git repository edit link -  hibbittsdesign.org #}
            {% if config.site.gitrepo.editlinklocation == 'page' and (not page.header.hidegitrepoeditlink) %}
              <hr>
              <br>
              {% include 'partials/gitrepo_page_link.html.twig' %}
              <br>
            {% endif %}
          </div>
          {# check content display flag - hibbittsdesign.org #}
          {% if not grav.uri.param('onlydisplaypagecontent') %}
            <div class="col-sm-4 blog-sidebar">
              {% include 'partials/sidebar.html.twig' with {'blog':page} %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endblock %}

  {% endembed %}
