/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*font-size: 1.5rem;*/
    /*line-height: 0.9;*/
    color: #606d6e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #454B4D;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #ffb3e4;
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

/* Utility Classes */
.wrapper {
    margin: 20px 1rem 20px 1rem;
}

.padding {
    padding: .1rem .1rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Content Styling */
.header .padding {
    padding: 1rem 0;
}

.header {
    background-color: #ffffff;
    color: #eee;
}

.header a {
    color: #fff;
}

.header .logo {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.footer {
    background-color: #ffffff;
    position: relative;
}

/* Menu Settings */
.main-nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    color: #000;
    padding: 0 20px;
    white-space: nowrap;
}

.main-nav > ul > li > a {
    border-radius: 2px;
}

/*Active dropdown nav item */
.main-nav ul li:hover > a {
    background-color: #ffe6f6;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
    background-color: #fff;
    color: #000000;
}

/* Dropdown CSS */
.main-nav ul li {position: relative;}

.main-nav ul li ul {
    position: absolute;
    background-color: #ffffff;
    min-width: 100%;
    text-align: left;
    z-index: 999;

    display: none;
}
.main-nav ul li ul li {
    display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}
.main-nav .has-children > a:after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children > a:after {
    content: '\f105';
}

.video--tag video{
  width: 100%;
  max-width: 700px;
  vertical-align: middle;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Blog Specific CSS */

/*.padding-horiz, .fullwidth #header, .fullwidth #breadcrumbs, .fullwidth .blog-header, .fullwidth .blog-content-item, .fullwidth .content-wrapper, .fullwidth ul.pagination, .fullwidth #body > .modular-row, #body, #header, #footer {*/
  /*padding-left: 7rem;*/
  /*padding-right: 7rem; }*/
  /*@media only all and (max-width: 59.938em) {*/
    /*.padding-horiz, .fullwidth #header, .fullwidth #breadcrumbs, .fullwidth .blog-header, .fullwidth .blog-content-item, .fullwidth .content-wrapper, .fullwidth ul.pagination, .fullwidth #body > .modular-row, #body, #header, #footer {*/
      /*padding-left: 4rem;*/
      /*padding-right: 4rem; } }*/
  /*@media only all and (max-width: 47.938em) {*/
    /*.padding-horiz, .fullwidth #header, .fullwidth #breadcrumbs, .fullwidth .blog-header, .fullwidth .blog-content-item, .fullwidth .content-wrapper, .fullwidth ul.pagination, .fullwidth #body > .modular-row, #body, #header, #footer {*/
      /*padding-left: 1rem;*/
      /*padding-right: 1rem; } }*/

/*.blog-header {*/
  /*padding-top: 2rem;*/
  /*padding-bottom: 2rem; }*/
  /*.blog-header.blog-header-image {*/
    /*background-size: cover;*/
    /*background-position: center; }*/
    /*.blog-header.blog-header-image h1, .blog-header.blog-header-image h2 {*/
      /*color: #FFFFFF; }*/
  /*.blog-header h1 {*/
    /*font-size: 4rem;*/
    /*margin-top: 0; }*/
    /*@media only all and (min-width: 48em) and (max-width: 59.938em) {*/
      /*.blog-header h1 {*/
        /*font-size: 3rem; } }*/
    /*@media only all and (max-width: 47.938em) {*/
      /*.blog-header h1 {*/
        /*font-size: 2.5rem;*/
        /*line-height: 1.2;*/
        /*margin-bottom: 2.5rem; } }*/
  /*.blog-header + .blog-content {*/
    /*padding-top: 3rem; }*/


    /*.list-item {*/
      /*border-bottom: 1px solid #EEEEEE;*/
      /*margin-bottom: 3rem; }*/
      /*.list-item:last-child {*/
        /*border-bottom: 0; }*/
      /*.list-item .list-blog-header {*/
        /*position: relative; }*/
        /*.list-item .list-blog-header h4 {*/
          /*margin-bottom: 0.5rem; }*/
          /*.list-item .list-blog-header h4 a {*/
            /*color: #444; }*/
            /*.list-item .list-blog-header h4 a:hover {*/
              /*color: #1BB3E9; }*/
        /*.list-item .list-blog-header img {*/
          /*display: block;*/
          /*margin-top: 1rem;*/
          /*border-radius: 3px; }*/
      /*.list-item .list-blog-date {*/
        /*float: right;*/
        /*text-align: center; }*/
        /*.list-item .list-blog-date span {*/
          /*display: block;*/
          /*font-size: 1.75rem;*/
          /*font-weight: 600;*/
          /*line-height: 110%; }*/
        /*.list-item .list-blog-date em {*/
          /*display: block;*/
          /*border-top: 1px solid #EEEEEE;*/
          /*font-style: normal;*/
          /*text-transform: uppercase; }*/
